.content__inner {
    width: 850px;      
    margin: 0 auto;    
    text-align: center;
    padding-top: 180px;
    margin-left: 200px;
}
.content__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: 0%;
    color: #000000;
    align-items: center;
    
}
.content__paragraph{
    width: 950px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.875rem;
    letter-spacing: 0%;
    margin-left: -100px;
    font-weight: 300;
    
}
.line2{
    padding-top: 0px;
    padding-bottom: 26px;
    margin-right: 7rem;
}
@media (max-width: 540px) {
    .content__inner {
      max-width: 100%;
      padding-top: 100px;
      margin-left: 20px;
      padding-top: 60px;
      flex-direction: column-reverse;
    }
  
    .content__title {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-right: 60px;
    }
  
    .content__paragraph {
      font-size: 1rem;
      width: 23rem;
      margin-left: -64px;
    }
  }
  
  @media (min-width: 2560px) {
    .content__inner {
      padding-top: 220px;
    }
  
    .content__title {
      font-size: 48px;
      line-height: 72px;
    }
  
    .content__paragraph {
      font-size: 22px;
      line-height: 36px;
    }
  }