
.footer__nav {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    top:125px;
    left: 590px;
    z-index: 5;

}
.footer__nav {
    z-index: 5; 
}
.footer__nav ul{
    display: flex;
    justify-content: center; 
    gap: 177px;
}
.footer__nav a {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}
.footer {
    position: relative;
    width: 100%;
    height: 261px;
    margin-top: -50px;
}
  
.left_c {
    position: absolute;
    left: 0;
    top: 160px;
    z-index: 3;
    width: 131px;
    height: 115px;
}
  
.bg {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 165px;
    z-index: 2;
  }
  
.blue_circles {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 1;
    width: 131px;
    height: 115px;
  }
  
.logo2 {
    position: absolute;
    font-size: 24px;
    left: 227px;
    top: 170px;
    width: 160px;
    height: 41px;
    z-index: 5;
  }
  
  

/* .footer{
    background-image: 
        url("../images/back_circles3.svg"),
        url("../images/bg.svg"),
        url("../images/blue_circles.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 
    left 0px bottom -300px,
    left 0px top 10px,
    left 1380px bottom 1000px;
    background-size:
    131px 115px,
    1600px 165px,
    131px 115px; 
    width: 100%;
    height: 300px;
} */