

.footer {
  position: relative;
  width: 100%;
  margin-top: 0; 
  background: #458FF6;
  padding: 2rem 0;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px; 
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.footer .left_c {
  position: absolute;
  left: -10rem;
  top: 30%;
  transform: translateY(-50%);
}

.footer .blue_circles {
  position: absolute;
  top: -80px; 
  right: -9rem;
}


.footer__nav ul {
  display: flex;
  gap: 177px; 
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

.footer__button {
  display: flex;             
  justify-content: center;    
  align-items: center;        
  margin-bottom: 100px;       
}



.default-button1 {

  padding: 1.9rem 3.4rem; 
  display: inline-block;
  font-size: 1.125rem;
  border-radius: 55px;
  font-weight: 700;
  border: 1.4px solid #458FF6;
  background: transparent;
  color: #458FF6;
  cursor: pointer;
}



@media (max-width: 768px) {
  .footer__button {
    display: flex;             
    justify-content: center;    
    align-items: center;        
    margin-bottom: 80px;
    margin-top: -50px;       
  }
  .default-button1 {
    padding: 1.8rem 3.5rem;  
    font-size: 1.25rem;     
  }
  .footer .container {
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 0;
    padding-right: 0;
  }

  .footer .logo2 {
    margin-left: 0;
    width: 120px;
    margin-bottom: -20px;
  }

  .footer__nav ul {
    flex-direction: row;
    gap: 1rem;
    margin-top: -20px;
  }

  .footer__nav a {
    font-size: 16px;
  }
  .footer .blue_circles {
    position: absolute;
    right: 0;
    top: -40px; 
    width: 80px;
  }
  .footer .left_c {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
  }
}

@media (min-width: 2560px) {
  .footer .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .footer__button{
    margin-top: -25rem;
  }
}