
.footer__nav {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    top:310px;
    left: 60px;
    z-index: 5;

}
.footer__nav {
    z-index: 5; 
}
.footer__nav ul{
    display: flex;
    justify-content: center; 
    gap: 177px;
}
.footer__nav a {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}
.footer {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: -20px;
    
}
  
.left_c {
    position: absolute;
    left: 0;
    top: 300px;
    z-index: 3;
    width: 131px;
    height: 115px;
}
  
.bg {
    padding-top: 100px;
    position: absolute;
    left: 0;
    top: 150px;
    width: 100%;
    height: 165px;
    z-index: 2;
  }
  
.blue_circles {
    position: absolute;
    right: 30px;
    top: 180px;
    z-index: 1;
    width: 131px;
    height: 115px;
  }
  
.logo2 {
    position: absolute;
    font-size: 24px;
    left: 227px;
    top: 320px;
    width: 160px;
    height: 41px;
    z-index: 5;
  }

.default-button1.outlined {
    padding-top: 10px;
    background: transparent;
    color: #458FF6;
    width: 200px;
    height: 40px;
    font-weight: 700;
    font-size: 18px;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    display: block;
    margin-left: 500px;
    text-align: center;
    cursor: pointer;
  }