body {
    font-family: "Mulish", sans-serif;
    color: #7D7987;
    margin: 0;
    padding: 0;
}


li {
    display: block; 
}

p {
    margin: 0;
}
a {
    text-decoration: none;
    color: #1F1534;
}
button{
    border: 0;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
    padding-top: 50px;
}

  
 .default-button {
    background: #458FF6;
    font-weight: 700;
    border-radius: 55px;
    color: #FFFFFF;
    width: 200px;
    height: 60px;
    font-size: 18px;
    top: 564px;
    left: 190px;
    padding: 3px 0;
} 

.default-button {
    background: #458FF6;
    font-weight: 700;
    border-radius: 55px;
    color: #FFFFFF;
    width: 200px;
    height: 60px;
    font-size: 18px;
    top: 564px;
    left: 190px;
    padding: 3px 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.logo {
    height: 40px;
    padding-left: 20px;
}
.logo img {
    transition: 0.3s ease;
}

.logo img:hover {
    filter: brightness(1.2); 
}

.circles{
    height: 115px;
    padding-top: 63px;

}

html, body {
    overflow-x: hidden;
}
footer{
    overflow: hidden;
}
