body {
    font-family: "Mulish", sans-serif;
    color: #7D7987;
    margin: 0;
    padding: 0;
}


section, .container, img {
    outline: 1px solid red;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
  
  
li {
    display: block; 
}
/*html, body {
    overflow-x: hidden;
}*/

/* * {
    max-width: 100%;
    box-sizing: border-box;
} */

/* img {
    width: 100%;
    padding: 10px;    
    box-sizing: border-box; 
} */
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: #7D7987;
}
button{
    border: 0;
}
  
.default-button {
    background: #458FF6;
    font-weight: 700;
    border-radius: 55px;
    color: #FFFFFF;
    width: 200px;
    height: 60px;
    font-size: 18px;
    top: 564px;
    left: 190px;
    padding: 3px 0;
}

.circles{
    height: 115px;
    padding-top: 63px;

}