
.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 50px;
    flex-wrap: nowrap;

}

.header__nav ul{
    display: flex;
    gap: 10px;
    white-space: nowrap;
}

.header__title{
    font-weight: 700;
    font-size: 18px;
    padding-left: 450px;
    margin-right: 40px;
}
.header__nav-item{
    opacity: 0.5;
    font-weight: 400;
    margin-right: 30px;
    font-size: 18px;
    
}

