
.header{
    display: flex;
    justify-content: space-between;
    align-items:center;

}

.header__nav ul{
    display: flex;
    
}

.header__title{
    font-weight: 700;
    font-size: 18px;
    padding-left: 500px;
    margin-right: 40px;
}
.header__nav-item{
    font-weight: 400;
    margin-right: 40px;
    font-size: 18px;
    
}

