.hero{
    background-image: url(../images/healthcare_hero.svg);
    background-repeat: no-repeat;
    background-position: right 160px bottom;
    background-position: 747px 167px;
}



.hero__inner{
    width: 440px;
    padding-bottom: 154px;
    padding-top: 186px;
    

}

.hero__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    color: #000000;

}
.hero__paragraph{
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #7D7987;
    ;
}
.hero__button{
    margin-top: 45px;

}

  
