
.intro__inner{
    width: 410px;
    padding-left: 140px;
    padding-top: 190px;

}
.container {
    display: flex;
    padding-left: 138px;
}
.providers{
    display: block;
    margin-top: 150px;
}
.intro__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: 0%;
    color: #000000;
 
}
.line{
    padding-top: 0px;
    padding-bottom: 30px;
}
.intro__paragraph{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #7D7987;
}
.default-button.outlined{
    background: transparent;
    color:#458FF6;
    font-weight: 700;
    height: 70px;
    border:1.4px solid #458FF6;
    border-radius: 55px;
    margin-top: 100.22px;
    padding-top: 20px;
    cursor: pointer;
    padding: 0 1rem;
    font-size: 1.125rem;
    width: 150px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center; 
    align-items: center; 
}
.intro__button{
    margin-top: -60px;
    height: 90px;

}
.providers--mobile{
    display: none; 
}
@media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .providers {
      display: none; 
    }
  
    .intro__inner {
      padding-left: 7rem;
      padding-top: 60px;
      text-align: center;
      flex-direction: column-reverse;
    }
    .providers--mobile{
        display: block;
        max-width: 95%;
        margin-bottom: 2rem;
        margin-left: 0.9rem;
    }
    .intro__text{
        max-width: 70%;
    }
    .intro__title {
        font-size: 2rem;
        line-height: 2.5rem;
    }
  
    .intro__paragraph {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  
    .default-button.outlined {
      width: 150px;
      border-radius: 55px;
      margin-top: 100.22px;
      padding-top: 20px;
      cursor: pointer;
      padding: 0 1rem;
      font-size: 1.125rem;
      height: 60px;
      margin-top: 20px;
    }
    .intro__button{
        margin-top: 0px;
        height: 90px;
    }
  }

  @media (min-width: 3840px) {
    .intro__inner {
      width: 1400px;
      padding-left: 2rem;
      padding-top: 2rem;
      margin: 0 auto;
    }
  
    .container {
      display: flex;
      justify-content: space-between;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  
    .providers {
        width: 80%;
        height: auto;
        
    }
  
    .intro__title {
      font-size: 4rem;
      line-height: 5rem;
    }
  
    .intro__paragraph {
      font-size: 1.5rem;
      line-height: 2.25rem;
    }
  
    .default-button.outlined {
      width: 200px;
      height: 80px;
      font-size: 1.25rem;
      padding: 0 1.5rem;
      margin-top: 2rem;
    }
  
    .intro__button {
      margin-top: 2rem;
    }
  }