
.intro__inner{
    width: 410px;
    padding-left: 140px;
    padding-top: 190px;

}
.container {
    display: flex;
    padding-left: 138px;
}
.providers{
    margin-top: 150px;
}
.intro__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: 0%;
    color: #000000;
 
}
.line{
    padding-top: 0px;
    padding-bottom: 30px;
}
.intro__paragraph{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #7D7987;
}
.default-button.outlined{
    background: transparent;
    color:#458FF6;
    width: 300px;
    height: 70px;
    size: 30px;
    border:1.4px solid #458FF6;
    border-radius: 55px;
    margin-top: 100.22px;
    padding-top: 20px;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}
.intro__button{
    padding-top: 30px;
    height: 100px;

}