.services{
    background-image:
        url(../images/wave_backround.svg),
        url(../images/back_circles.svg);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    width: 100%;
    background-size: 
    1237px 971px,
    140px 125px;
    background-position: 
    left -200px top -210px,
    left 1290px top 340px;
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}


  
.container {
    width: 1200px;
    padding: 0 15px;
    position:static;
}
  
.wrapper {
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px 34px;
    padding-bottom: 100px;
}

.service {
    width: 300px;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 30px 20px 30px 40px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    font-size: 2rem; 
}
  
.service img {
    margin-top: 20px;
    margin-bottom: 10px;
}
  
.service h3 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 18px;
    color: #000000;
}
  
.service p {
    width: 260px;
    font-weight: 300;
    font-size: 16px;
    line-height: auto;
    color: #7D7987;
}

  
@media screen and (max-width: 540px) {
    .services{
        margin-bottom: 0;
    }
    .container {
        width: 100%;      
        padding: 0 15px;  
        margin: 0 auto;   
      }
    .wrapper {
      grid-template-columns: repeat(1, 1fr);
      gap: 0.5rem;
      padding-right: 100px;
    }

    .service {
        width: 100%;
        font-size: 1.5rem; 
        padding: 20px;
        margin: 0 auto;   
        height: auto;
      }

    .service h3 {
        font-size: 1rem;
        
    }

    .service p {
        font-size: 0.9rem;
        width: 11rem;
    }
    .service img {
        width: 3rem;  
        height: 4rem; 
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .footer__button{
        margin: 20px;
    }
}

@media screen and (min-width: 2560px) {
    .services{
        margin-bottom: 30rem;
    }
    .container {
        width: 2400px;
    }

    .wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }

    .service {
        width: 350px;
        height: 350px;
        padding: 40px 30px 40px 50px;
    }

    .service h3 {
        font-size: 28px;
    }

    .service p {
        font-size: 18px;
    }
}